.DS_Store
node_modules
/dist
public/catalog
public/assets/catalog
src/assets/db

# local env files
.env.localcd
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
